Source: ros-lyrical-mola-sm-loop-closure
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gtest, ros-lyrical-ament-cmake-lint-cmake <!nocheck>, ros-lyrical-ament-cmake-pep257 <!nocheck>, ros-lyrical-ament-cmake-uncrustify <!nocheck>, ros-lyrical-ament-cmake-xmllint <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-gtsam, ros-lyrical-mola-common, ros-lyrical-mola-georeferencing, ros-lyrical-mola-gtsam-factors, ros-lyrical-mola-metric-maps <!nocheck>, ros-lyrical-mola-pose-list, ros-lyrical-mola-relocalization, ros-lyrical-mola-test-datasets <!nocheck>, ros-lyrical-mola-yaml, ros-lyrical-mp2p-icp, ros-lyrical-mrpt-libgui, ros-lyrical-mrpt-libmaps, ros-lyrical-mrpt-libtclap, ros-lyrical-ros-environment, ros-lyrical-ros-workspace
Homepage: https://docs.mola-slam.org/
Standards-Version: 3.9.2

Package: ros-lyrical-mola-sm-loop-closure
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-gtsam, ros-lyrical-mola-common, ros-lyrical-mola-georeferencing, ros-lyrical-mola-gtsam-factors, ros-lyrical-mola-pose-list, ros-lyrical-mola-relocalization, ros-lyrical-mola-yaml, ros-lyrical-mp2p-icp, ros-lyrical-mrpt-libgui, ros-lyrical-mrpt-libmaps, ros-lyrical-mrpt-libtclap, ros-lyrical-ros-workspace
Description: Simplemap loop-closure postprocessing library and CLI tool
